@{ this.ViewData["Title"] = "About Us";}

<div class="intro-section site-blocks-cover innerpage" style="background-image: url('../images/about_2.jpg');">
    <div class="container">
        <div class="row align-items-center text-center border">
            <div class="col-lg-12 mt-5" data-aos="fade-up">
                <h1 class="text-uppercase">Кои сме ние и какво можем</h1>
                <p class="text-white text-center">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                    <span class="mx-2">/</span>
                    <span>За нас</span>
                </p>
            </div>
        </div>
    </div>
</div>



<div class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 mb-5 text-center">
                <h3 class="section-subtitle">Нашият екип</h3>
                <h2 class="section-title text-black mb-4">Ние сме малък екип от специалисти обединени от една общата цел -<br> разбиране и удовлетворяване желанията на нашите клиенти</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 mb-lg-0">
                <div class="person">
                    <figure>
                        <img src="~/images/person_1.jpg" alt="Image" class="img-fluid">
                        <div class="social">
                        </div>
                    </figure>
                    <div class="person-contents">
                        <h3>Благой Попов</h3>
                        <span class="position">Управител</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-lg-0">
                <div class="person">
                    <figure>
                        <img src="~/images/person_2.jpg" alt="Image" class="img-fluid">
                        <div class="social">
                        </div>
                    </figure>
                    <div class="person-contents">
                        <h3>Калоян Попов</h3>
                        <span class="position">Връзка с клиенти</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-lg-0">
                <div class="person">
                    <figure>
                        <img src="~/images/person_3.jpg" alt="Image" class="img-fluid">
                        <div class="social">
                        </div>
                    </figure>
                    <div class="person-contents">
                        <h3>Любомир Панайотов</h3>
                        <span class="position">Началник цех</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-lg-0">
                <div class="person">
                    <figure>
                        <img src="~/images/person_4.jpg" alt="Image" class="img-fluid">
                        <div class="social">
                        </div>
                    </figure>
                    <div class="person-contents">
                        <h3>Ивайло Симеонов</h3>
                        <span class="position">Отговорник монтажни</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="site-section services-1-wrap">
    <div class="container">
        <div class="row mb-5 justify-content-center text-center">
            <div class="col-lg-5">
                <h3 class="section-subtitle">Ние сме</h3>
                <h2 class="section-title mb-4 text-black"><strong>Мебел Дизаин 71 ООД<br> фирма специализирана в </strong></h2>
                <h2 class="section-title mb-12 text-black">Производство на обзавеждане по поръчка</h2>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-3 col-md-6">
                <div class="service-1">
                    <span class="number">01</span>
                    <div class="service-1-icon">
                        <span class="flaticon-sketch"></span>
                    </div>
                    <div class="service-1-content">
                        <h3 class="service-heading">Проектиране</h3>
                        <p>Наш представител ще дойде да вземе точни мерки, след което ще бъде изготвен безплатни проект и оферта на обзавеждането по взетите размери.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-1">
                    <span class="number">02</span>
                    <div class="service-1-icon">
                        <span class="flaticon-carpenter-1"></span>
                    </div>
                    <div class="service-1-content">
                        <h3 class="service-heading">Производство</h3>
                        <p>След като бъдат уточнени материалите и одобрен проекта, се подписва договор за срока на изпълнение и се извърши авансово плащане, започва пройзводството на избраното обзавеждане.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-1">
                    <span class="number">03</span>
                    <div class="service-1-icon">
                        <span class="flaticon-delivery-time"></span>
                    </div>
                    <div class="service-1-content">
                        <h3 class="service-heading">Доставка</h3>
                        <p>Безплатно доставяме произведеното от нас обзавеждането до Вашият дом, в удобно за вас време, с наш транспор.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-1">
                    <span class="number">04</span>
                    <div class="service-1-icon">
                        <span class="flaticon-wardrobe"></span>
                    </div>
                    <div class="service-1-content">
                        <h3 class="service-heading">Монтаж</h3>
                        <p>Наш екип ще монтира обзавеждането бързо и качествено, като за монтажа не се дължат никакви допълнителни такси. След приключване на монтажа на обзавеждането и пълното удовлетворение на клиента става доплащането.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="site-section services-1-wrap">
        <div class="container">
            <div class="row mb-5 justify-content-center text-center">
                <div class="col-lg-5">
                    <h2 class="section-title mb-4 text-black">Производство на детайли за мебели</h2>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-3 col-md-6">
                    <div class="service-1">
                        <span class="number">01</span>
                        <div class="service-1-icon">
                            <span class="flaticon-saw"></span>
                        </div>
                        <div class="service-1-content">
                            <h3 class="service-heading">Рязане</h3>
                            <p> Рязане на всички видове ПДЧ и МДФ плоскости, кухненски плотове и гърбове по разкрой на клиента.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-1">
                        <span class="number">02</span>
                        <div class="service-1-icon">
                            <span class="flaticon-wood-1"></span>
                        </div>
                        <div class="service-1-content">
                            <h3 class="service-heading">Сдвояване</h3>
                            <p>Сдвояване на ПДЧ и МДФ за увеличаване на дебелината на детайла с лепило, дибла или винт, като всичко се извършва по изрично желание на клиента.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-1">
                        <span class="number">03</span>
                        <div class="service-1-icon">
                            <span class="flaticon-wood"></span>
                        </div>
                        <div class="service-1-content">
                            <h3 class="service-heading">Кантиране</h3>
                            <p>Праволинейно и криволинейно кантиране на мебелни плоскости.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-1">
                        <span class="number">04</span>
                        <div class="service-1-icon">
                            <span class="flaticon-drill"></span>
                        </div>
                        <div class="service-1-content">
                            <h3 class="service-heading">Разпробиване</h3>
                            <p>Разпробиване на отвори за дръжки, водачи, сглобки, рафтоносачи, дибли, минификсове, конзоли, контакти и др.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>