@model MebelDesign71.Web.ViewModels.ProjectsImage.ImageInputModel

@{
    this.ViewData["Title"] = "Create Project";
    
    
    }
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Добави снимка към галерията на проекта</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form asp-area="Administration" asp-controller="AdminProjectsGallery" asp-action="AddImage" metod="post" enctype="multipart/form-data">
                        <div class="box-body">
                            <input type="hidden" asp-for="ProjectId" value=@this.ViewData["id"]>
                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <input asp-for="Description" class="form-control" placeholder="Тук може да въведете кратко описание на снимката">
                                <span asp-validation-for="Description"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ImageFile"></label>
                                <input asp-for="ImageFile" />
                                <span asp-validation-for="ImageFile" class="text-danger"></span>
                                <p class="text-info">Препорачителната резолюция на снимката 1080 x 720</p>
                            </div>


                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" value="Създай" class="btn btn-success">Добави</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
</div>