@model MebelDesign71.Web.ViewModels.ProjectsImage.ViewImageModel
@using MebelDesign71.Common
@{this.Layout = ""; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gallery - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/adminlte/css/cards-gallery.css">
</head>
<body>
    <section class="gallery-block cards-gallery">
        <div class="container">
            <div class="heading">
                <h2>Галерия на @ViewData["projectName"]</h2>
                <a asp-area="Administration" asp-controller="AdminProjectsGallery" asp-action="Index" type="button" class="btn btn-success btn-lg btn-block">Връщане</a>
            </div>
            <div class="row">

                @foreach (var image in this.ViewData["projectGalery"] as IList<MebelDesign71.Web.ViewModels.ProjectsImage.ViewImageModel>)
                {
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0 transform-on-hover">
                            <a class="lightbox">
                                <img src=@image.ImagePath alt="Gallery Image" class="card-img-top" width="400" height="250" asp-append-version="true">
                            </a>
                            <div class="card-body">
                                <h6><a href="/Administration/AdminProjectsGallery/DeleteImage?imageId=@image.Id&projectId=@ViewData["projectId"]">Изтрии снимката</a></h6>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.cards-gallery', { animation: 'slideIn' });
    </script>
</body>
</html>

