@model MebelDesign71.Web.ViewModels.Orders.OrderInputModel
@using MebelDesign71.Data.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{ ViewData["Title"] = "OrderForm";}


<div class="site-section mt-5">
    <div class="container">

        <form asp-controller="Orders" asp-action="OrderForm" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="UserId" value=@UserManager.GetUserId(User)/>
            <div class="form-group">
                <label asp-for="ServiceId">Избери услуга</label>
                <select class="form-control" name="ServiceId">
                    <option selected>Услуги...</option>
                    @foreach (var item in this.ViewData["services"] as IList<MebelDesign71.Web.ViewModels.Service.ServiceInputModel>)
                    {
        <option value="@item.Id">@item.Name</option>
}
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Description">Забележка към поръчката</label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description"></span>
            </div>

            <div class="form-group">
                <p class="text-black-50">Прикачи файл</p>
                <input class="btn btn-primary" asp-for="Document" />
                <span asp-validation-for="Document" class="text-danger"></span>
            </div>
            <div class="row m-5 justify-content-center">
                <div class="box-footer">
                    <button type="submit" value="Потвърди" class="btn btn-outline-success">Потвърди</button>
                </div>
                <div class="box-footer ml-5">
                    <a asp-area="" asp-controller="Orders" asp-action="Index" type="button" value="Отхвърли" class="btn btn-outline-danger">Отхвърли</a>
                </div>
            </div>

        </form>
    </div>
</div>
