@using MebelDesign71.Common
@{ this.ViewData["Title"] = "Home Page"; }

<!--Start Image Slider-->

<div class="hero-slide owl-carousel site-blocks-cover">

    <div class="intro-section" style="background-image: url('../images/top_1.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                    <h1>Вие имате <strong>ИДЕЯ</strong>, ние ще ви помогнем да я <strong>РЕАЛИЗИРАТЕ</strong></h1><!--We Are <strong>Leading</strong> Industry of Engineers</h1-->
                </div>
            </div>
        </div>
    </div>

    <div class="intro-section" style="background-image: url('../images/top_2.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                    <span class="d-block"></span>
                    <h1>Проектиране и производство на мебели по поръчка. <br>Tрапезарии и всекидневни, спални, детски стаи,<br> цялостно офис обзавеждане.</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="intro-section" style="background-image: url('../images/top_3.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                    <span class="d-block"></span>
                    <h1>Професионално разкрояване, рязане и кантиране</h1>
                </div>
            </div>
        </div>
    </div>

</div>
<!--End Image Slider-->
<!--Start About Us-->
<div class="site-section services-1-wrap">
    <div class="container">
        <div class="row mb-5 justify-content-center text-center">
            <div class="col-lg-5">
                <h3 class="section-subtitle">Ние сме</h3>
                <h2 class="section-title mb-4 text-black"><strong>Мебел Дизаин 71 ООД</strong> <br>фирма специализирана в</h2>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-3 col-md-6">
                <div class="service-1">
                    <span class="number">01</span>
                    <div class="service-1-icon">
                        <span class="flaticon-sketch"></span>
                    </div>
                    <div class="service-1-content">
                        <h3 class="service-heading">Проектиране</h3>
                        <p>Изготвяме безплатен проект и оферт по размери на клиента</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-1">
                    <span class="number">02</span>
                    <div class="service-1-icon">
                        <span class="flaticon-carpenter-1"></span>
                    </div>
                    <div class="service-1-content">
                        <h3 class="service-heading">Производство</h3>
                        <p>Детайли за мебели и обзавеждане по поръчка.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-1">
                    <span class="number">03</span>
                    <div class="service-1-icon">
                        <span class="flaticon-delivery-time"></span>
                    </div>
                    <div class="service-1-content">
                        <h3 class="service-heading">Доставка</h3>
                        <p>Доставяме произведеното от нас до Вас с наш транспор.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-1">
                    <span class="number">04</span>
                    <div class="service-1-icon">
                        <span class="flaticon-wardrobe"></span>
                    </div>
                    <div class="service-1-content">
                        <h3 class="service-heading">Монтаж</h3>
                        <p>Наш екип ще монтира обзавеждането бързо и качествено</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End About Us-->
<!--Start Introduction-->
<div class="site-section">
    <div class="block-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <img src="images/about_1.jpg" alt="Image " class="img-fluid img-overlap">
                </div>
                <div class="col-lg-5 ml-auto">
                    <h3 class="section-subtitle mb-4">Защо да изберете нас?</h3>
                    <h2 class="section-title mb-2">Повече от <strong>20 години</strong></h2>
                    <p class="text-white">вярваме, насърчаваме и инвестираме в иновативни идеи и решения. Независимо какъв вид мебели правим (кухня, детска стая, спалня, хол или офис мебели) ние се стремим да задоволим Вашите желания с изключително елегантно, висококачествено, практично и удобно осигуряващо комфорт обзавеждане.</p>

                    <div class="row my-5">
                        <div class="col-lg-12 d-flex align-items-center mb-4">
                            <span class="line-height-0 flaticon-measuring-tape display-4 mr-4 text-primary"></span>
                            <div>
                                <h4 class="m-2 h5 text-white">Индивидуалният подход към всеки проект.</h4>
                                <p class="text-white">Обръщаме внимание и на най-минималните детайли.</p>
                            </div>
                        </div>
                        <div class="col-lg-12 d-flex align-items-center mb-4">
                            <span class="line-height-0 flaticon-work-tools display-4 mr-4 text-primary"></span>
                            <div>
                                <h4 class="m-2 h5 text-white">Оптимални решения за Вашия интериор.</h4>
                                <p class="text-white">Отговарящи на нуждите и предпочитанията Ви.</p>
                            </div>
                        </div>
                        <div class="col-lg-12 d-flex align-items-center">
                            <span class="line-height-0 flaticon-winner display-4 mr-4 text-primary"></span>
                            <div>
                                <h4 class="m-2 h5 text-white">Гаранция за качество.</h4>
                                <p class="text-white">Даваме 5 години пълна гаранция на своите продукти.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--Start Introduction-->
<!--Start Reviews-->
<div class="site-section testimonial-wrap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 mb-5 text-center">
                <h3 class="section-subtitle">Отзиви</h3>
                <h2 class="section-title text-black mb-4">Нашите клиенти за нас</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">
                <div class="testimonial">
                    <img src="~/images/profilImages/Person1.jpg" alt="">
                    <blockquote>
                        <p>&ldquo;От заплануването на кухнята ни до изпълнението й, бе показан голям професионализъм. Изработена с качествени материали. Добър екип. Препоръчвам.&rdquo;</p>
                    </blockquote>
                    <p class="client-name">сем. Йовчеви</p>
                </div>
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
                <div class="testimonial">
                    <img src="~/images/profilImages/Person2.jpg" alt="">
                    <blockquote>
                        <p>&ldquo;Благодарим за страхотната работа! След 5 месеца проучвате на фирми за мебели, Ви открихме и бихме Ви препоръчали на всички! Коректност, спазени срокове, функционални препоръки за мебелите - всичко беше на ниво! След гардероба и обзавеждането за склада и антрето, започваме да събираме идеи за хола и детската стая и със сигурност бихме поръчали отново при Вас!&rdquo;</p>
                    </blockquote>
                    <p class="client-name">Александър Малинов</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Reviews-->
<!--Start Projects-->
<div class="site-section block-3">
    <div class="container">

        <div class="mb-5">
            <h3 class="section-subtitle">ПРОЕКТИ</h3>
            <!-- <h2 class="section-title mb-4">Разгледайте нашите реализирани проекти.</h2> -->
        </div>

        <div class="projects-carousel-wrap">
            <div class="owl-carousel owl-slide-3">
                <div class="project-item">
                    <div class="project-item-contents">
                        <a href="project.html">
                            <h2 class="project-item-title">
                                Разгледайте нашите реализирани проекти
                            </h2>
                        </a>
                    </div>
                    <img src="images/works_1.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="project-item">
                    <div class="project-item-contents">
                        <a href="project.html">
                            <h2 class="project-item-title">
                                Разгледайте нашите реализирани проекти
                            </h2>
                        </a>
                    </div>
                    <img src="images/works_2.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="project-item">
                    <div class="project-item-contents">
                        <a href="project.html">
                            <h2 class="project-item-title">
                                Разгледайте нашите реализирани проекти
                            </h2>
                        </a>
                    </div>
                    <img src="images/works_3.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="project-item">
                    <div class="project-item-contents">
                        <a href="project.html">
                            <h2 class="project-item-title">
                                Разгледайте нашите реализирани проекти
                            </h2>
                        </a>
                    </div>
                    <img src="images/works_4.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="project-item">
                    <div class="project-item-contents">
                        <a href="project.html">
                            <h2 class="project-item-title">
                                Разгледайте нашите реализирани проекти
                            </h2>
                        </a>
                    </div>
                    <img src="images/works_5.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="project-item">
                    <div class="project-item-contents">
                        <a href="project.html">
                            <h2 class="project-item-title">
                                Разгледайте нашите реализирани проекти
                            </h2>
                        </a>
                    </div>
                    <img src="images/works_6.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="project-item">
                    <div class="project-item-contents">
                        <a href="project.html">
                            <h2 class="project-item-title">
                                Разгледайте нашите реализирани проекти
                            </h2>
                        </a>
                    </div>
                    <img src="images/works_7.jpg" alt="Image" class="img-fluid">
                </div>




            </div>
        </div>

    </div>
</div>
<!--End Projects-->
<!--Start Services-->
<div class="site-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 mb-5 text-left">
                <h3 class="section-subtitle">Услуги</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-4">
                <div class="blog-entry">
                    <a href="#" class="img-link">
                        <img src="images/action_1.jpg" alt="Image" class="img-fluid">
                    </a>
                    <div class="blog-entry-contents">
                        <h3><a href="#">Поръчка на обзавеждане по вашите индивидуални размери и вкус </a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-4">
                <div class="blog-entry">
                    <a href="#" class="img-link">
                        <img src="images/action_2.jpg" alt="Image" class="img-fluid">
                    </a>
                    <div class="blog-entry-contents">
                        <h3><a href="#">Професионално рязане и кантиране на мебелни плоскости</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-4">
                <div class="blog-entry">
                    <a href="#" class="img-link">
                        <img src="images/action_3.jpg" alt="Image" class="img-fluid">
                    </a>
                    <div class="blog-entry-contents">
                        <h3><a href="#">Разпробиване на отвори за панти, водачи, сглобки и др. </a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Services-->