@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="intro-section site-blocks-cover innerpage" style="background-image: url('../images/top_1.jpg');">
    <div class="container">
        <div class="row align-items-center text-center border">
            <div class="col-lg-12 mt-5" data-aos="fade-up">
                <h1 class="text-uppercase">Project Single Post</h1>
                <p class="text-white text-center">
                    <a asp-controller="Projects" asp-action="ProjectIndex">Реализирани проекти</a>
                    <span class="mx-2">/</span>
                    <span>Project Single</span>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mb-4">
                <img src="~/images/wardrobe_1.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-4 ml-auto">
                <h2 class="text-black mb-4">Project Details Here</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum beatae maxime iure dolores labore? Corporis harum ea fuga voluptatum nulla! Consectetur, sint odit modi maxime harum enim dolores aliquid distinctio ad itaque commodi?</p>
                <p class="mb-5">Atque rerum fugiat iste voluptas, magni mollitia, cupiditate corporis perferendis veniam</p>
                <p><a href="image gallery.html" class="btn btn-primary rounded-0 py-3 px-5">Галерия</a></p>
            </div>
        </div>
    </div>
</div>