@model MebelDesign71.Web.ViewModels.Contacts.ContactFormViewModel
@{ this.ViewData["Title"] = "Contacts";}


<div class="intro-section site-blocks-cover innerpage" style="background-image: url('../images/contact_1.jpg');">
    <div class="container">
        <div class="row align-items-center text-center border">
            <div class="col-lg-12 mt-5" data-aos="fade-up">
                <h1 class="text-uppercase">Връзка с нас</h1>
                <p class="text-white text-center">
                    <a asp-controller="Home" asp-action="Index">Начало</a>
                    <span class="mx-2">/</span>
                    <span>Контакти</span>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="site-section services-1-wrap">
    <div class="container">
        <div class="row no-gutters">

            <div class="col-lg-3 col-md-6">
                <div class="service-1">
                    <div class="service-1-icon">
                        <span class="flaticon-location"></span>
                    </div>
                    <div class="service-1-content">
                        <h3 class="service-heading">Адрес</h3>
                        <p> гр.София ул.Суходолска 64</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-1">
                    <div class="service-1-icon">
                        <span class="flaticon-phone"></span>
                    </div>
                    <div class="service-1-content">
                        <h3 class="service-heading">Телефон</h3>
                        <p>0898 475 421</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-1">
                    <div class="service-1-icon">
                        <span class="flaticon-mail"></span>
                    </div>
                    <div class="service-1-content">
                        <h3 class="service-heading">Имейл</h3>
                        <p> mebel_71@mail.bg</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-1">
                    <div class="service-1-icon">
                        <span class="flaticon-worker"></span>
                    </div>
                    <div class="service-1-content">
                        <h3 class="service-heading">Работно време</h3>
                        <p>
                            Понеделник-Петък 9.00 - 17.00
                            <br> Събота 9.00 - 12.00
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<form asp-controller="Contacts" asp-action="Index" method="post">
    <div class="site-section">
        <div class="container">

            <div class="row mb-5 justify-content-center text-center">
                <div class="col-lg-5">
                    <h3 class="section-subtitle">Имате въпрос ?<br> Пишете ни.</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label asp-for="FirstName">Име</label>
                    <input asp-for="FirstName" class="form-control form-control-lg">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="LastName">Фамилия</label>
                    <input asp-for="LastName" class="form-control form-control-lg">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label asp-for="Email">Имейл адрес</label>
                    <input asp-for="Email" class="form-control form-control-lg">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="PhoneNumber">Телефонен номер</label>
                    <input asp-for="PhoneNumber" class="form-control form-control-lg">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 form-group">
                    <label asp-for="Description">Съобщение</label>
                    <textarea asp-for="Description" cols="30" rows="10" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <p>
                Натискайки бутона "Изпратете", вие потвърждавате, че сте запознати и съгласни с нашата политика за опазване на личните данни<br />
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Политика за опазване на личните данни</a>
            </p>

            <input type="hidden" id="RecaptchaValue" name="RecaptchaValue" />

            <div class="row">
                <div class="col-12">
                    <input type="submit" value="Изпрати" class="btn btn-primary rounded-0 px-3 px-5">
                </div>
            </div>

        </div>
    </div>
</form>



<div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d912.6816133142286!2d23.24502751369768!3d42.694713569064874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa9ae4448ffc1f%3A0x2bf8bc9b20f4eeb2!2zMTM3MyDQodC-0YTQuNGP!5e1!3m2!1sbg!2sbg!4v1598997882242!5m2!1sbg!2sbg"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
</div>