@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="intro-section site-blocks-cover innerpage" style="background-image: url('../images/services_1.jpg');">
    <div class="container">
        <div class="row align-items-center text-center border">
            <div class="col-lg-12 mt-5" data-aos="fade-up">
                <h1 class="text-uppercase">Какво правим</h1>
                <p class="text-white text-center">
                    <a href="index.html">Начало</a>
                    <span class="mx-2">/</span>
                    <span>Услуги</span>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- <div class="blog-entry-contents text-center mt-5">
  <h3 class="section-subtitle mb-1">Тук ще откриете съвети относно нашите услуги</h3>
</div> -->


<div class="site-section">
    <div class="container">
        <div class="row">

            <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
                <div class="blog-entry">
                    <a href="service-custom furniture.html" class="img-link">
                        <img src="~/images/service_custom furniture.jpg" alt="Image" class="img-fluid">
                    </a>
                    <div class="blog-entry-contents">
                        <h3><a href="service-custom furniture.html">Проектиране и изработка на мебели по поръчка</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
                <div class="blog-entry">
                    <a href="service-price project.html" class="img-link">
                        <img src="~/images/service_draft.jpg" alt="Image" class="img-fluid">
                    </a>
                    <div class="blog-entry-contents">
                        <h3>
                            <a href="service-price project.html">
                                Ако имате проект/скица на желаното обзавеждане, може да ния
                                изпратите за да получите примерна цена
                            </a>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
                <div class="blog-entry">
                    <a href="~/service-new view.html" class="img-link">
                        <img src="~/images/service_new view.jpg" alt="Image" class="img-fluid">
                    </a>
                    <div class="blog-entry-contents">
                        <h3><a href="service-new view.html">Често се чудите как да смените интериора у дома. Това може да направите сами без особени усилия и много средства</a></h3>
                    </div>
                </div>
            </div>


            <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
                <div class="blog-entry">
                    <a href="service-cutting and edging.html" class="img-link">
                        <img src="~/images/service_cuttingAndEdging.jpg" alt="Image" class="img-fluid">
                    </a>
                    <div class="blog-entry-contents">
                        <h3>
                            <a href="service-cutting and edging.html">
                                Разкрой на всички видове ПДЧ и МДФ плоскости, кухненски
                                плотове и гърбове по размери на клиента.
                            </a>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
                <div class="blog-entry">
                    <a href="service-single.html" class="img-link">
                        <img src="~/images/services_1.jpg" alt="Image" class="img-fluid">
                    </a>
                    <div class="blog-entry-contents">
                        <h3><a href="#">Top Companies That Are Best In Industrial Business</a></h3>
                        <div class="meta">Posted by <a href="#">Admin</a> In <a href="#">News</a></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
                <div class="blog-entry">
                    <a href="service-single.html" class="img-link">
                        <img src="~/images/services_1.jpg" alt="Image" class="img-fluid">
                    </a>
                    <div class="blog-entry-contents">
                        <h3><a href="#">Top Companies That Are Best In Industrial Business</a></h3>
                        <div class="meta">Posted by <a href="#">Admin</a> In <a href="#">News</a></div>
                    </div>
                </div>
            </div>

        </div>

        <!-- <div class="row text-center mt-5">
          <div class="col-12">
            <a href="#" class="p-3 d-inline-block">1</a>
            <a href="#" class="p-3 d-inline-block">2</a>
            <span class="p-3 d-inline-block text-black">3</span>
            <a href="#" class="p-3 d-inline-block">4</a>
            <a href="#" class="p-3 d-inline-block">5</a>
          </div>
        </div> -->
    </div>
</div>