@model MebelDesign71.Web.ViewModels.Service.ServiceInputModel
@{this.ViewData["Title"] = "Create Service"; }

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Промени категория на проект</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form asp-area="Administration" asp-controller="AdminServices" asp-action="UpdateService" metod="post" enctype="multipart/form-data">
                        <div class="box-body">
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control" placeholder="Тук въведете името на проекта">
                                <span asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <textarea cols="40" rows="6" asp-for="Description" class="form-control" placeholder="Въведете описание на проекта "></textarea>
                                <span asp-validation-for="Description"></span>
                            </div>
                            <img src="@Model.ImagePath" width=180 height=120 asp-append-version="true" />
                            <div class="form-group">
                                <label asp-for="HeadImage"></label>
                                <input asp-for="HeadImage" />
                                <span asp-validation-for="HeadImage" class="text-danger"></span>
                                <p class="text-danger text-uppercase">Добавете снимка ако искате да промените тази снимка</p>
                            </div>
                            @if (Model.DocumentId != null)
                            {
                                <div class="form-group">
                                    <h4 class="text-black text-uppercase">Документ към услугата</h4>
                                    <a class="btn btn-warning btn-lg" asp-controller="AdminServices" asp-action="DownloadDocument" asp-route-id="@Model.DocumentId">@Model.DocumentName</a>
                                    <p></p>
                                    <input asp-for="Document" />
                                    <span asp-validation-for="Document" class="text-danger"></span>
                                    <p class="text-danger text-uppercase">Прикачeте файл за да промените съществуващия документ</p>
                                </div>
                            }

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" value="Промени" class="btn btn-success">Промени</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>