

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/adminlte/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Mebel Design 71</p>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">ПАНЕЛ ЗА УПРАВЛЕНИЕ</li>

            <li>
                <a asp-controller="AdminMessages" asp-action="Index">
                    <i class="fa fa-envelope"></i> <span>Поща</span>
                </a>
            </li>

            <li>
                <a asp-controller="AdminOrders" asp-action="Index">
                    <i class="fa fa-cart-arrow-down"></i> <span>Поръчки</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-green"></small>
                    </span>
                </a>
            </li>

            <li>
                <a asp-controller="AdminProjects" asp-action="Index">
                    <i class="fa fa-th"></i> <span>Управление  проекти</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-green"></small>
                    </span>
                </a>
            </li>

            <li>
                <a asp-controller="AdminProjectsGallery" asp-action="Index">
                    <i class="fa fa-th"></i> <span>Управление  галерии</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-green"></small>
                    </span>
                </a>
            </li>

            <li>
                <a asp-controller="AdminServices" asp-action="Index">
                    <i class="fa fa-th"></i> <span>Управление  услуги</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-green"></small>
                    </span>
                </a>
            </li>

        </ul>

    </section>
    <!-- /.sidebar -->
</aside>